.button{
    --button-color: #121212;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--button-color);
    transform: scale(1);
    padding: 5px;
    transition-duration: 0.5s;
}
.button:hover{
    cursor: pointer;
    transform: scale(0.99);
}
.left{
    justify-content: space-between;
}
.right{
    justify-content: space-between;
    flex-direction: row-reverse;
}
.button:focus{
    border: none;
    outline: none;
}
.button:active{
    border: none;
    transform: scale(1.01);
}